
# Virtualenv related
venv
bin/
include/
lib/
local/
pip-selfcheck.json


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.tmp*


*.sqlite3

# file configuration
**/apps/conf.py
