certifi==2017.11.5
chardet==3.0.4
Django==1.11.28
django-feedparser==0.2.1
django-jet==1.0.6
feedparser==5.2.1
google-api-python-client==1.4.1
httplib2==0.10.3
idna==2.6
oauth2client==4.1.2
olefile==0.44
Pillow==4.3.0
pyasn1==0.3.7
pyasn1-modules==0.1.5
pytz==2017.3
requests==2.20.0
rsa==3.4.2
six==1.11.0
uritemplate==3.0.0
urllib3==1.26.5
