{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    {% block title %}{% endblock title %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1-0, minimum-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/master-page.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/master-page.js' %}"></script>
    {% block extrastaticfiles %}{% endblock extrastaticfiles %}
  </head>
  <body>
    <header>
      <span id="btn-menu" class="fa fa-bars"></span>
      <nav class="navegacion">
        <ul class="menu">
          <li class="title-menu">Todas las categorias</li>
          <li><a href="#"><span class="fa fa-home icon-menu"></span>Inicio</a></li>
          <li class="item-submenu" menu="1">
            <a href="#"><span class="fa fa-suitcase icon-menu"></span>Servicios</a>
            <ul class="submenu">
              <li class="title-menu"><span class="fa fa-suitcase icon-menu"></span>Servicios</li>
              <li class="go-back">Atras</li>
              <li><a href="#">Anuncio de arrendamiento</a></li>
              <li><a href="#">Anuncio de ventas</a></li>
              <li><a href="#">Proyectos de vivienda</a></li>
            </ul>
          </li>
          <li class="item-submenu" menu="2">
            <a href="#"><span class="fa fa-shopping-bag icon-menu"></span>Gestión Empresarial</a>
            <ul class="submenu">
              <li class="title-menu"><span class="fa fa-shopping-bag icon-menu"></span>Gestión Empresarial</li>
              <li class="go-back">Atras</li>

              <li><a href="#">Inmobiliarias</a></li>
              <li><a href="#">Constructoras</a></li>
            </ul>
          </li>
          <li><a href="#"><span class="fa fa-envelope icon-menu"></span>Contacto</a></li>
          <li><a href="#"><span class="fa fa-life-ring icon-menu"></span>Acerca de Nosotros</a></li>
        </ul>
      </nav>
    </header>


    {% block content %}

    {% endblock content %}

    <footer>

    </footer>
  </body>
</html>
